#main {
  color: black;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  padding-left:25px;
  padding-right:25px;
  padding-top:15px;
  padding-bottom:15px;
  text-align: left;
}
/* Start Navigation Styling */
/* from the example code, every ul 
   was replaced with nav-list and every li
   was replaced with nav-item */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover:not(.active) {
  background-color:#2de0e3;
}

.active {
  background-color:#2de0e3;
}

/* End Navigation Styling */